<div class="users col-md-10">
  <% User.all.each do |user|  %>
    <%= render "user", user: user %>
  <% end %>
</div>

<div class="messages col-md-2">
  <% Message.all.each do |m| %>
    <p><%= m.username%>: <%=m.body%></p>
  <% end %>
</div>
