<div class="users col-md-8">
  <% User.all.order(rank: :asc).each do |user|  %>
    <%= render "user", user: user %>
  <% end %>
</div>

<% if current_user %>
  <%= render partial: "messages" %>
<% end %>
