.rank_25 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -164px -85px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_24 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -288px -85px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_23 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -414px -85px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_22 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -542px -85px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_21 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -674px -85px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_20 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -225px -177px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_19 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -350px -177px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_18 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -477px -177px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_17 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -607px -177px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_16 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -733px -177px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_15 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -164px -265px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_14 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -288px -265px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_13 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -415px -265px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_12 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -542px -265px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_11 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -676px -265px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_10 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -227px -348px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_9 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -351px -347px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_8 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -476px -347px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_7 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -607px -347px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_6 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -734px -345px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_5 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -165px -433px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_4 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -289px -432px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_3 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -414px -432px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_2 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -541px -433px no-repeat;
  border: 1px solid black;
  size: 10%;
}

.rank_1 {
  height: 100px;
  width: 85px;
  background: image_url("hs_ranks.jpg") -676px -436px no-repeat;
  border: 1px solid black;
  size: 10%;
}
